<?php
return [
    'metadata' => [
        'devMode' => true,
        'paths' => [
            __DIR__ . '/models/'
        ],
        'configCallable' => ['\Doctrine\ORM\Tools\Setup', 'createAnnotationMetadataConfiguration']
    ],
    'connection' => [
        'driver'   => 'pdo_sqlite',
        'path'   => __DIR__ . '/data/database.sqlite',
    ]
];